/********** Table of Contents **********/


/********** Branding **********/

/* font-family: 'Open Sans', sans-serif;

#1e3932 #008248 #d4e9e2 #f1f8f6 #f3f1e7 #000000 */


/********** General Styles **********/
body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.h1 {
  font-weight: bolder;
}

/********** General Classes **********/

.banner {
  text-align: left;
}

.icon-image {
  width: 112px;
}

.sectionheader {
  padding-bottom: 5%;
}

/********** Sections **********/

/* Navbar and Banner */

.banner {
  background-color: #1e3932;
  color: #fff;
  font-weight: 600;
  height: 50px;
}

.banner-p {
  margin-top: 10px;
}

.banner-link {
  margin-top: 6px;
}

.navbar-light {
  background-color: #fff;
}

.nav-button {
  margin-right: 10px;
}

/* Splash */


.h1-col {
  padding-top: 40px;
}

.hero {
  text-align: center;
}

.hero-bg {
  height: 850px;
  background-image: url("../img/star-hero-sm.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Get Started */

#getstarted {
  padding-top: 10%;
  padding-bottom: 10%;
}

@media screen and (min-width: 720px) {
  #getstarted {
    padding-top: 150px;
    padding-bottom: 150px;
  }
  
}

.getstarted-img {
  padding-top: 5%;
  padding-bottom: 5%;
  width: 48px;
}

/* Favourites */
.favourites-header {
  background-color: #f1f8f6;
}

#favourites-carousel {
  background-color: #d4e9e2;
}

/* Extras */

/* Getstars */
#getstars {
  background-color: #f3f1e7;
}


/* Restrictions */
#restrictions {
  background-color: #f9f9f9;
}